.cardContainer {
  margin: 20px 50px 20px 30px !important;
  text-align: left;
}
.heading {
  font-size: 40px;
  color: white;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: bold;
  line-height: 1.1;
}
.subHeading {
  padding-top: 20px;
  font-size: 18px;
  color: #838991;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: bold;
  line-height: 1.1;
}
.labelText {
  padding: 5px;
  background: rgb(40, 46, 61);
  font-size: 12px;
  color: #9ba1a9;
}
.playText {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
