.input {
  display: block;
  width: 340px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: inherit;
  background-color: #000000;
}

.small {
  height: 2rem;
  font-size: 16px !important;
  font-weight: 600px;
}

.medium {
  height: 2.5rem;
  font-size: 1rem;
}

.large {
  height: 3rem;
  font-size: 1.25rem;
}
