.container {
  max-width: 90% !important;
}
.carousel .slide img {
  width: auto !important;
  vertical-align: top;
  border: 0;
}
.carousel img {
  width: auto !important;
  display: inline-block;
  pointer-events: none;
}
.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: auto !important;
  z-index: 1;
}
.carousel .control-dots li {
  padding-left: 0 !important;
}
.carousel-status {
  display: none !important;
}
